.about{
    text-align: center;

    &-content{
        margin-bottom: $mb-5;

        .about-text{
            margin: $mb-4 0;
        }
    }

    &-image{
        max-width: 300px;
        margin: 0 auto;
        img{
        box-shadow: $normal-box-shadow;
        border-radius: 1rem;
        }
    }

}


@media screen and (min-width: 576px) {
    .about{
        display: flex;
        flex-direction: row-reverse;
        column-gap: 3rem;
        align-items: center;
        
        &-content{
            text-align: left;
            margin-bottom: 0;
            .about-text{
                margin: .75rem 0;
            }
        }
    }
}