.about{
    text-align: center;

    &-content{
        margin-bottom: $mb-5;

        .about-text{
            margin: $mb-4 0;
        }
    }

    &-image{
        max-width: 300px;
        margin: 0 auto;
        img{
        box-shadow: $normal-box-shadow;
        border-radius: 1rem;
        }
    }

}