.app{

    &-content{
        text-align: center;
        padding: 0 1rem;
        .app-links{
            margin-top: $mb-6;
            display: flex;
            justify-content: center;
            column-gap: 1.5rem;
            align-items: center;
        }

    }

    &-image{
        max-width: 300px;
        margin: 5rem auto -1rem;
    }
}


.app-link-image{
    max-width: 140px;
}


@import './contact';


@media screen and (min-width: 576px) {
    .app{
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        &-content{
            text-align: left;
            .app-links{
                justify-content: start;
            }
        }

        &-image{
            min-width: 360px;
        }
    }

    .content-text{
        width: 70%;
        margin: 0 auto;
    }

    
}