.menu{

    &-content{
        text-align: center;
    }
     &-cards{
         grid-template-columns: repeat(2 , 1fr);
         gap: 2rem;
     }

}

.menu-card{
    box-shadow: $normal-box-shadow;
    overflow: hidden;
    padding: 1rem 0 0 .6rem;
    width: 70%;
    background-color: #fff;
    border-radius: .6rem;
    margin: 0 auto;
    .card-image{
        margin: 0 auto;
        max-width: 110px;
    }
}
.card-content{
    
    .card-title{
        margin-bottom: $mb-2;
        h4{
            color: $title-color;
            margin-bottom: -0.1rem;
        }
        p{
            font-size: $small-font-size;
        }
    }

    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .add-to-bag{
            background-color: $first-color;
            width: 40px;
            height: 40px;
            text-align: center;
            transition: .3s;
            color: #fff;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .add-to-bag:hover{
            background-color: $first-color-alt;
        }

    }

}

@media screen and (max-width:575px) {
    .menu-cards{
        grid-template-columns: 1fr;
    }
    .menu-card{
        width: 50%;
    }
}

@include Query(576px) {
    .menu-cards{
        margin-top: 4rem;
        grid-template-columns: repeat(2,1fr);
    }
}

@include Query(769px){
    .menu-cards{
        grid-template-columns: repeat(3,1fr);
    }
}