.footer{
    grid-template-columns: 1fr;
    row-gap: 2.5rem;

    &-item-links{
        a{
            color: $first-color;
            font-size: $h2-font-size;
            font-weight: $font-semi-bold;
        }
        .social{
            margin-top: $mb-3;
            span{
                font-size: 1.3rem;
                margin: 0 .4rem;
                color: $title-color;
            }
        }
    }

    &-item{
        a{
            color: $title-color;
            font-size: $h2-font-size;
            font-weight: $font-semi-bold;
        }

        .footer-list{
            margin-top: $mb-1* 0.7;
        }
    }
}


.copyright{    
    text-align: center;
    color: $text-color-light;
}


@include Query(576px){

    .footer{
        margin-top: 5rem;
        row-gap: 4rem;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}


@include Query(768px){

    .footer{
        justify-items: initial;
        grid-template-columns: repeat(3, 1fr);
    
    }
}

@include Query(1024px){

    .footer{
        grid-template-columns: repeat(4, 1fr);
    }
}
