.home{
    &-content{
        padding: 1rem 0;
        margin-bottom: $mb-6;
        
        .home-title{
            color: $first-color;
            font-size: $biggest-font-size * 1.4;
        }
        & p{
            font-size: $h1-font-size;
            margin: $mb-2 0;
        }
    }
}

@include Query(576px) {
    .home{
        grid-template-columns: repeat(2,1fr);
        height: 640px;
        align-items: center;
    }
}