.header{ 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s ease;
    z-index: $z-fixed;
    padding: .6rem 0;
    background-color: var(--body-color); 
}

.show-nav{
    background-color: #fff;
    box-shadow: $normal-box-shadow;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: $header-height;
    &-logo{
        font-size: $h2-font-size;
        z-index: $z-fixed;
        a{
            color: $text-color;
        }
    }

    &-item{
        background-color: #fff;
        position: fixed;
        left: 0;
        transition: .6s ease-in-out;
        top: -100%;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        padding: 4.5rem 0 2rem 0;
        text-align: center;
        box-shadow: $normal-box-shadow;
        
        ul{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        &.show{
            top: 0;
        }

    }

    .item{
        color: $title-color;
        font-size: 1rem;
        font-weight: $font-medium;
        transition: .4s;
        &.active{
            color: $first-color;
        }
    }

    .darkmode{
        position: absolute;
        top: 3rem;
        right: 1rem;
        font-size: 1.2rem;
        color: $title-color;
    }
    .darkmode:hover{
        color: $text-color-light
    }

    .item:hover{
        color: $first-color;
    }

    &-toggler{
        z-index: $z-fixed;
        font-size: $h2-font-size;
    }
    &-toggler:hover{
        color: $text-color-light;
    }

}


@media screen and (min-width: 768px) {
    .navbar{
        &-item{
            top: 0;
            background: transparent;
            box-shadow: none;
            position: initial;
            padding: 0;
            font-size: 1.25rem;
            display: flex;
            justify-content: end;
            column-gap: 2.5rem;
            ul{
                flex-direction: initial;
                justify-content: end;
                column-gap: 2rem;
            }
        }
        &-toggler{
            display: none;
        }
        .darkmode{
            display: inline-block;
            position: initial;
        }

    }
}

@media screen and (min-width: 1024px) {
    .header{
      display: flex;
      justify-content: center;
    }

}